.up {
    position: fixed;
    bottom: 30px;
    right: 100px;
    color: #DEB992;
    font-size: 5vw;
    transition: transform 1s, opacity 1s;
    opacity: 0;

}

.up:hover {
    color: #0c324a;
    transform: translate(0, -10px);
}

.down {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #DEB992;
    font-size: 5vw;
    transition: transform 1s, opacity 1s;
    opacity: 0;
}

.down:hover{
    color: #0c324a;
    transform: translate(0, 10px);
}

.show {
    opacity: 1;
}

